@{
    ViewData["Title"] = "Home Page";

    Layout = "_Layout_dashboard";

}

<div class="text-center">
    <p class="display-3">Seja Bem Vindo(a) ao Dashboard ECCE 5.0 by Escolha Virtual Developer</p>
    <p class="display-3">Soluções em tecnologia para sua empresa</p>
</div>
