@{
    ViewData["Title"] = "Home Page";

    Layout = "_Layout_dashboard";

}

<div class="text-center">
    <p class="display-3">Seja Bem Vindo(a) ao Dashboard ECCE 5.0 by Escolha Virtual Developer</p>
    <p class="display-3">Soluções em tecnologia para sua empresa</p>
</div>


<p><h4>Gráfico de Vendas por Gênero</h4></p>
<div id="canvas-holder" style="width:50%">
    <canvas id="chart-area"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    "15",
                    "20",
                    "50",
                    "15",

                ],
                backgroundColor: [
                    "#cecece",
                    "#124545",
                    "#12ccff",
                    "#457511",
 
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Masculino',
                'Feminino',
                'Infantil',
                'Unissex',
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

</script>

