@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <a class="nav-link text-dark display-4" asp-area="" asp-controller="Home" asp-action="Dashboard">Ir para o Dashboard</a>
</div>
