@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Quem Somos</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Categoria" asp-action="Index">Categoria</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="CadastroProduto">Cadrastro de produto</a>
</div>
